/* Cores da marca */
:root {
    --primary-color: #455337;
    --secondary-color: #BB8159;
    --background-color: #F5EDE7;
    --text-color: #1B2417;
    --button-color: #99A681;
    --button-hover-color: #BB8159;
    --button-text-color: #fff;
    --gradient-start: #6a9113;
    --gradient-end: #141517;
}

/* Estilos globais */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
    animation: backgroundAnimation 10s infinite alternate;
    overflow: hidden;
}

@keyframes backgroundAnimation {
    0% { background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end)); }
    100% { background: linear-gradient(135deg, var(--gradient-end), var(--gradient-start)); }
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
    position: relative;
    backdrop-filter: blur(10px);
}

.logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto 20px auto;
    transition: transform 0.5s ease;
}

header .slogan {
    font-size: 1.5em;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-style: italic;
    animation: textAnimation 3s ease-in-out infinite alternate;
}

@keyframes textAnimation {
    0% { color: var(--secondary-color); }
    100% { color: var(--primary-color); }
}

#progressBarContainer {
    width: 100%;
    background-color: #ccc;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
}

#progressBar {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    transition: width 0.5s;
}

.hidden {
    display: none;
}

input[type="text"], input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.btn {
    background: var(--button-color);
    color: var(--button-text-color);
    border: none;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.btn:hover {
    background: var(--button-hover-color);
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    flex-wrap: wrap;
}

.qrcode img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 20px auto;
}

.back-button {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    width: 40px; /* Mantém o tamanho consistente */
    height: 40px; /* Mantém o tamanho consistente */
    border-radius: 50%;
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Substitua essas cores pelas cores da sua marca */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que o botão fique sobre outros elementos */
}

.back-button i {
    color: #fff;
    font-size: 1.2em; /* Mantém o tamanho do ícone consistente */
}

/* styles.css */

/* Adicione o estilo para a nova seção inicial */
#startSection {
    text-align: center;
    margin-top: 50px;
}

#startSection .btn {
    font-size: 1.5em;
    padding: 10px 20px;
}

/* Mantenha o estilo existente */
.hidden {
    display: none;
}
